<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>

    <nlog throwExceptions="false" autoReload="true">
        <targets>
            <target name="file" type="File" encoding="utf-8" fileName="${nlogdir}/../../../../../../../../../log/${shortdate}.txt" layout="${date:universalTime=True:format=yyyy-MM-dd HH\:mm\:ss.ffff} [${whenEmpty:${threadname}:whenEmpty=${threadid:padding=2}}] ${uppercase:${pad:${level}:padding=-5}} ${logger:shortName=true:padding=-35} ${message}${onexception:${newline}${exception:format=ToString}}" />
            <target name="console" type="ColoredConsole" layout="${date:format=HH\:mm\:ss} (${level:uppercase=true}) [${logger}] ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}">
                <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Error" foregroundColor="Yellow" />
                <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Fatal" foregroundColor="Red" />
                <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Warn" foregroundColor="Magenta" />
                <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="Green" />
                <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Trace" foregroundColor="White" />
                <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Debug" foregroundColor="Blue" />
            </target>
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" writeTo="console" />
        </rules>
    </nlog>
</configuration>