*.bak
*.csproj.user
*.sln.DotSettings.user
*.suo
*.userprefs
.fake/
.vs/
Sources/**/AssemblyInfo.cs
StyleCop.Cache
TestResults.xml
bin
build.fsx.lock
build/*
obj
packages/*
paket-files/
temp/
package
.idea